.newDiv {
  width: 100px;
  height: 100px;
  background-color: rgb(218, 146, 172);
  margin-top: 10px;
  display: inline-block;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
  margin: 10px;
}

button {
  width: 100px;
  height: 50px;
  background-color: rgb(231, 175, 175);
  border-color: rgb(238, 158, 158);
}